@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: hsl(252, 30%, 17%);
  background: hsl(252, 30%, 98%);
  overflow-x: hidden;
}

/* Scrollbar vertical */
::-webkit-scrollbar, ::-webkit-scrollbar-horizontal {
  width: 0.4rem;
  border-radius: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-horizontal {
  width: 0.4rem;
  border-radius: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb-horizontal {
  border-radius: 2px;
  background-color: #c2c2c2;
}
